.filter-footer {
    text-align: center;
    padding: 1rem;
}

#usersFilter {
    float: right;
}

.mat-card-footer {
    padding: 1rem;
}

.mat-card-title {
    font-size: 1.5rem;
}

