<ul id="sideNav" class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" routerLink="/home/dashboard" 
    routerLinkActive="active"><i class="fa fa-bar-chart fa-2x"></i>&nbsp;{{'pages.dashboard.menuTitle' | translate}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/home/users" 
    routerLinkActive="active"><i class="fa fa-list fa-2x"></i>&nbsp;{{'pages.users.menuTitle' | translate}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="javascript:void(0)" ><i class="fa fa-money fa-2x"></i>&nbsp;{{'pages.invoices.menuTitle' | translate}}</a>
  </li>
  <li class="nav-item">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header style="padding-left:0" [collapsedHeight]="'73px'" [expandedHeight]="'73px'">
            <a class="nav-link disabled" href="javascript:void(0)"><i class="fa fa-wrench fa-2x"></i>&nbsp;Settings</a>
          </mat-expansion-panel-header >
          <li class="nav-item">
            <a class="nav-link" href="#">Settings 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Settings 2</a>
          </li>
        </mat-expansion-panel>
      </mat-accordion>
    </li>
</ul>